body {
    background-color: rgb(180, 223, 223);
    text-align: center;
}

h1 {
   color: rgb(37, 34, 17);
  }

p {
    color: orange;
  }

#bacon {
    color:red;
}

/* #one{
  background-color: blue;
  width: 130px;
  height: 130px;
}

#two{
  background-color: rgb(53, 117, 1);
  width: 130px;
  height: 130px;
}

#three{
  background-color: rgb(255, 0, 13);
  width: 130px;
  height: 130px;
} */