.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ececee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topNav{
  height: 3em;

}

.bannerDiv{
  border-top: midnightblue;
  border-top-style: solid;
  border-top-width: 1em;
  border-top-color: midnightblue;
  position: absolute;
  z-index: -1;
  height: 15em;
  width: 100vw;
  background-color: midnightblue;
}

#mainContainer{
  z-index: 1;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
